@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400&display=swap');
body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
}

.popupContent {
    direction: rtl;
    text-align: right;
    font-family: "Vazirmatn", sans-serif;
    font-weight: 400;
  }