@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400&display=swap");
body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  width: 100%;
}

.popupContent {
  direction: rtl;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
}

.label {
  color: white;
  font-family: "Vazirmatn", sans-serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: medium;
  text-align: center;
  font-weight: bold;
  pointer-events: none;
}

.label:hover {
  color: yellow;
}
